$header_height: 50px;
$header_background_color: #FED15D;
$header_color: black;
$menu_background_color: #34394B;

:global {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background: #F0F0F0;
  }

  #root {
    min-height: 100%;
  }

  .layout {

  }

  .layout-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header_height;
    background: $header_background_color;
    color: $header_color;
    padding: 15px;
    z-index: 100;

    h1 {
      font-size: 18px;
      line-height: 1.1em;
      margin: 0;
      padding: 0;
    }
  }

  .layout-main {

  }

  .layout-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 10px;
    background: $menu_background_color;
    padding-top: $header_height + 10;
    z-index: 10;
  }

  .layout-content-wrapper {
    padding: 20px;
  }

  .layout-content {
    margin: 20px;
    padding: 40px;
    border-radius: 4px;
    background: white;
  }

  .layout-footer {
    padding: 10px;
    margin: 20px;
    text-align: right;
    border-top: 1px solid #ccc;
    font-size: 18px;
  }

  .layout-sidebar + .layout-content-wrapper,
  .layout-sidebar + .layout-content-wrapper + .layout-footer {
    margin-left: 200px;
  }

  menu {
    overflow-y: scroll;
    padding: 10px;
    top: 0;
    left: 0;
    bottom: 0;

    ul, li, a {
      display: block;
    }

    a {
      padding: 15px 0 15px 10px;
      margin-bottom: 10px;
      color: #aeb2b7;
      text-decoration: none;
      transition: background, color 500ms;
    }

    a.active, a:hover {
      background: #55D9EE;
      color: white;
    }

    .icon {
      margin-right: 10px;
    }
  }


}
